<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= t ".sample" %></h1>
    <p>
      <%= t ".homepage" %>
      <%= link_to t("static_pages.help.tut"), "http://www.railstutorial.org/" %>
      <%= t ".sampleapp" %>.
    </p>
  </body>
</html>
